#body {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
}


#head {
    background-color: #1e3a8a;
    height: 40vh;
    
}

#cintillo {
    
    display: flex;
    flex-direction: row;
    justify-content: right;
    color: #fff;
}

#about-link {
    margin-left: 1rem;
    border-bottom: solid 5px #ffff;
}

#works-link {
    margin-left: 1rem;
    border-bottom: solid 5px #fff;
}

#contact-link {
    margin-left: 1rem;
    margin-right: 10%;
    border-bottom: solid 5px #ffff;
}

#person {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60%;

}

#content-person {
    display: flex;
    flex-direction: column;
    border: solid 1px;
    color: #fff;
    width: 30%;
    text-align: center;
    font-size: 2rem;
}

#jose {
    font-weight: 700;
}

#dev {
    font-weight: 100;
}

#face {
    /* background-color: aqua; */
    height: 30%;
    display: flex;
    justify-content: center;
    
}


#face #img1{
    height: 10rem;
    border-radius: 1rem;
   
}

#face #img1 img{
    height: 10rem;
    border-radius: 50%;
    border: solid 3px #fff;
}

/* Acerca de */

#about {
    /* background-color: aqua; */
    padding-top: 3rem;
    display: flex;
    flex-direction: column;
    text-align: center;
}

#acerca {
    color: #c19b17;
    font-weight: 400;
    font-size: 2rem;
}

#info {
    color: #505050;
}

/* Trabajos */

#works {
    background-color: #f2f2f2;
    text-align: center;
    padding-top: 2rem;
    font-size: 2rem;
}


#works #works-orden .work-s .imgwork img{
    height: 10rem;
    border-radius: 1rem;
}

#works-orden {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 10%;
    padding-right: 10%;
}

#works #works-orden .work-s .description p {
    font-size: 1rem;
    
}

/* Contacto */

#contact {
    background-color: aqua;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 3rem;
}

#container-redes {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#git {
    margin-left: 1rem;
}

#whatsapp {
    margin-left: 1rem;
}

#dev {
    text-align: center;
    color: #000;
}

